# Archivos de caché y compilación
*.pyc
__pycache__/
.pytest_cache/

# Carpeta del ambiente virtual
venv/
test/

# Archivos de registro y datos temporales
*.log

# Archivos de configuración específicos del IDE
.vscode/
